div.zhdk_madekplayer-galleriffic {
	padding: 5px;
	background-color: #eeeeee;
	width: 630px;
}

div.zhdk_madekplayer-galleriffic div.pagination {
	clear: both;
	text-align: center;
}

div.zhdk_madekplayer-galleriffic div.pagination span,
div.zhdk_madekplayer-galleriffic div.pagination a {
	margin: 0;
	margin-right: 10px;
}

div.zhdk_madekplayer-galleriffic div.zhdk_madekplayer-caption {
	padding: 10px 0 10px 50px;
	margin: 15px 5px 5px;
	min-height: 50px;
	border: 1px solid #dedede;
}

div.zhdk_madekplayer-galleriffic ul.thumbs {
	text-align: center;
}

div.zhdk_madekplayer-galleriffic div.pagination {
	font-weight: bold;
}

div.zhdk_madekplayer-galleriffic ul.thumbs li {
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0;
	margin-right: 10px;
	height: 100px;
	line-height: 100px;
}

div.zhdk_madekplayer-galleriffic ul.thumbs li img {
	margin: auto;
	vertical-align: middle;
}

div.zhdk_madekplayer-galleriffic .zhdk_madekplayer-slideshow {
	text-align: center;
	height: 500px;
	line-height: 500px;
}

div.zhdk_madekplayer-galleriffic .zhdk_madekplayer-slideshow img {
	padding: 0;
	margin: auto;
	vertical-align: middle;
}

div.zhdk_madekplayer-galleriffic a:hover {
	text-decoration: none;
}

div.zhdk_madekplayer-caption h3 {
	font-weight: bold;
	margin: 0;
	padding: 0;
}
	
div.zhdk_madekplayer-caption h4 {
	font-weight: bold;
	margin: 5px 0 0;
	padding: 0;
}

div.zhdk_madekplayer-caption p {
	margin: 0;
	padding: 0;
}

div.zhdk_madekplayer-controls {
	margin: 5px;
}

div.zhdk_madekplayer-controls div.nav-controls:after {
	clear: both;
}

div.zhdk_madekplayer-controls div.nav-controls .next {
	float: right;
}

div.zhdk_madekplayer-controls .ss-controls {
	text-align: center;
}