div.zhdk_madekplayer-galleriffic {
	padding: 0 10px 10px;
	background-color: #eeeeee;
}

div.zhdk_madekplayer-galleriffic div.pagination {
	clear: both;
	text-align: center;
}

div.zhdk_madekplayer-galleriffic div.pagination span,
div.zhdk_madekplayer-galleriffic div.pagination a {
	margin: 0;
	margin-right: 10px;
}

div.zhdk_madekplayer-galleriffic div.zhdk_madekplayer-caption {
	padding: 10px 0 10px 50px;
	margin: 15px 0px 5px;
	min-height: 50px;
	border: 1px solid #dedede;
}

div.zhdk_madekplayer-galleriffic ul.thumbs {
	text-align: center;
	height: 100px;
	line-height: 100px;
}

div.zhdk_madekplayer-galleriffic div.pagination {
	font-weight: bold;
}

div.zhdk_madekplayer-galleriffic ul.thumbs li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

div.zhdk_madekplayer-galleriffic ul.thumbs li img {
	display: inline;
	vertical-align: middle;
}

div.zhdk_madekplayer-galleriffic .zhdk_madekplayer-slideshow-table {
	text-align: center;
	display: table;
}

div.zhdk_madekplayer-galleriffic .zhdk_madekplayer-slideshow-cell {
	display: table-cell;
	vertical-align: middle;
}

div.zhdk_madekplayer-galleriffic .zhdk_madekplayer-slideshow-cell img {
	padding: 0;
	
}

div.zhdk_madekplayer-galleriffic a:hover {
	text-decoration: none;
}

div.zhdk_madekplayer-caption h3 {
	font-weight: bold;
	margin: 0;
	padding: 0;
}
	
div.zhdk_madekplayer-caption h4 {
	font-weight: bold;
	margin: 5px 0 0;
	padding: 0;
}

div.zhdk_madekplayer-caption p {
	margin: 0;
	padding: 0;
}

div.zhdk_madekplayer-controls {
	margin: 0 5px 5px;
}

div.zhdk_madekplayer-controls div.nav-controls:after {
	clear: both;
}

div.zhdk_madekplayer-controls div.nav-controls .next {
	float: right;
}

/*div.zhdk_madekplayer-controls div.nav-controls {
	position: relative;
	top: -15px;
}*/

div.zhdk_madekplayer-controls .ss-controls {
	text-align: center;
	position: relative;
	top: 15px;
	width: 50%;
	margin: auto;
}