div.zhdk_madekintegration-galleriffic ul.thumbs li {
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

div.zhdk_madekintegration-galleriffic .zhdk_madekintegration-slideshow img {
	padding: 0;
	margin: 0;
}

div.zhdk_madekintegration-galleriffic a:hover {
	text-decoration: none;
}